main .carousel-container {
    padding: 0;
}

main .carousel {
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
    position: relative;
    height: 60vw;
}

main .carousel picture {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
}

main .carousel img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: 90%;
}

main .carousel > div {
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start;
    position: absolute;
    left: 0;
    height: 100%;
    align-items: flex-end;
    display: flex;
    background-image: linear-gradient(#0000, #0008);
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.3s;
}

main .carousel > div.selected {
    opacity: 1;
}

main .carousel div.carousel-text {
    text-align: center;
    width: 60%;
    margin: 0 auto;
}


main .carousel::-webkit-scrollbar {
    display: none;
}

main .carousel-wrapper {
    max-width: unset;
}

main .carousel-wrapper .carousel-buttons {
    text-align: center;
    position: absolute;
    opacity: 1;
    display: flex;
    right: 0;
    left: 0;
    justify-content: center;
    gap: 20px;
    bottom: 5px;
    height: 20px;
}

main .carousel-buttons button {
    top: 0;
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
    padding: 0 !important;
    margin: 5px;
    border-radius: 10px;
    background-color: #eee;
    box-shadow: none;
    cursor: pointer;
    border: 1px solid transparent;
}

main .carousel-buttons button.selected {
    top: 0;
    background-color: #fff;
}

main .carousel div.carousel-text h1 {
    color: #fff;
    text-shadow: 2px 2px black;
    font-size: 6vw;
    height: 25vw;
}

main .carousel div.carousel-text h2 {
    color: #fff;
    text-shadow: 2px 2px black;
    font-size: 3vw;
    height: 15vw;
}

main .carousel div.carousel-text h2::after {
    content: none;
}

main .carousel-image picture:first-of-type img {
    display: none;
}

main .carousel-image picture:last-of-type img {
    display: block;
}

@media (min-width: 900px) and (max-width: 1199px) {
    main .carousel {
        height: 40vw;
    }

    main .carousel > div {
        background-image: unset;
        color: unset;
        align-items: center;
        height: 100%;
    }

    main .carousel div.carousel-text {
        margin: unset;
        padding: 32px;
        text-align: left;
    }

    main .carousel div.carousel-text h1 {
        font-size: 5.5vw;
        line-height: 110px;
        margin-left: 150px;
        margin-bottom: 180px;
        max-width: 1000px;
        color: #fff;
        text-shadow: 2px 2px black;
        height: 15vw;
        bottom: 0;
        position: absolute;
    }

    main .carousel div.carousel-text h2 {
        font-size: 2.8vw;
        line-height: 50px;
        margin-left: 150px;
        margin-bottom: 210px;
        max-width: 1150px;
        color: #fff;
        text-shadow: 2px 2px black;
        height: 5vw;
        bottom: 0;
        position: absolute;
    }

    main .carousel div.carousel-text h2::after {
        content: none;
    }

}

@media (min-width: 1200px) {
    main .carousel {
        height: 40vw;
    }

    main .carousel>div {
        background-image: unset;
        color: unset;
        align-items: center;
        height: 100%;
    }

    main .carousel div.carousel-text {
        margin: auto;
        padding: 32px;
        text-align: left;
    }

    main .carousel div.carousel-text h1 {
        font-size: 89px;
        line-height: 110px;
        margin-left: 0;
        margin-bottom: 190px;
        max-width: 1000px;
        color: #fff;
        text-shadow: 2px 2px black;
        height: 15vw;
        bottom: 0;
        position: absolute;
    }

    main .carousel div.carousel-text h2 {
        font-size: 50px;
        line-height: 70px;
        margin-left: 0;
        margin-bottom: 230px;
        max-width: 1150px;
        color: #fff;
        text-shadow: 2px 2px black;
        height: 5vw;
        bottom: 0;
        position: absolute;
    }

    main .carousel div.carousel-text h2::after {
        content: none;
    }

    main .carousel-image picture:last-of-type img {
        display: none;
    }

    main .carousel-image picture:first-of-type img {
        display: block;
    }
    
}